[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
httpie = "*"

[dev-packages]
pylint = "*"
flask-testing = "*"
nose = "*"
astroid = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
